body {
  margin: 0;
  padding: 0;
  background-color: rgb(59, 67, 64);
}

h1 {
  font-style: italic;
  text-align: center;
  color: rgb(228, 228, 228);
}

.link {
  display: flex;
  color: rgb(0, 255, 255);
}

p {
  color: rgb(228, 228, 228);
  font-size: large;
}

a {
  color: rgb(0, 255, 255);
}

.page {
  padding: 0 25px;
}